{% extends "base.html" %}
{% block title %}
Контакты
{% endblock %}
{% block menu %}
{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
<div class="content">
    <h3>Контакты</h3>

    <form action="" method="post">
        <fieldset>
            <legend>Обращение</legend>
            <p>
                <label class="title" for="email">Ваш email:</label>
                <input type="text" name="email" id="email">
            </p>
            <p>
                <label class="title" for="subject">Тема обращения:</label>
                <input type="text" name="subject" id="subject">
            </p>
            <p>
                <label class="title" for="message">Обращение:</label>
            </p>
            <p>
                <textarea name="message" id="message"></textarea>
            </p>
        </fieldset>
        <div class="submit"><input type="submit" value="Отправить"></div>
    </form>
</div>
{% endblock %}
