<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
<div class="menu">
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contacts">Контакты</a></li>
    </ul>
</div>
<div class="content">
    <h3>Контакты</h3>

    <h4>Get форма</h4>
    <form action="" method="get">
        <fieldset>
            <legend>Обращение</legend>
            <p>
                <label class="title" for="email1">Ваш email:</label>
                <input type="text" name="email1" id="email1">
            </p>
            <p>
                <label class="title" for="subject1">Тема обращения:</label>
                <input type="text" name="subject1" id="subject1">
            </p>
            <p>
                <label class="title" for="message1">Обращение:</label>
            </p>
            <p>
                <textarea name="message1" id="message1"></textarea>
            </p>
        </fieldset>
        <div class="submit"><input type="submit" value="Отправить"></div>
    </form>

    <h4>POST форма</h4>
    <form action="" method="post">
        <fieldset>
            <legend>Обращение</legend>
            <p>
                <label class="title" for="email">Ваш email:</label>
                <input type="text" name="email" id="email">
            </p>
            <p>
                <label class="title" for="subject">Тема обращения:</label>
                <input type="text" name="subject" id="subject">
            </p>
            <p>
                <label class="title" for="message">Обращение:</label>
            </p>
            <p>
                <textarea name="message" id="message"></textarea>
            </p>
        </fieldset>
        <div class="submit"><input type="submit" value="Отправить"></div>
    </form>
</div>
</body>
</html>