{% extends "base.html" %}
{% block title %}
Студенты
{% endblock %}
{% block menu %}
{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
<div class="content">
    <h3>Студенты</h3>
    <h4>Регистрация студента</h4>
    <form method="post">
        <input type="text" name="name" placeholder="Имя студента">
        <button type="submit">Сохранить</button>
    </form>
    <h4>Список студентов</h4>
    <ul>
        {% for item in students %}
        <li>
            <form action="/delete-student" method="post">
                {{item.name}}
                <input type="hidden" name="id" value="{{item.id}}">
                <button type="submit">Удалить студента</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
